.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/b5c5f7e4-6bdf-c398-911c-625d862ac50e.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 756px;
}

.u-section-1 .u-text-1 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-size: 5rem;
  font-family: Anton;
  margin: 451px 60px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  text-shadow: 0 0 8px rgba(128,128,128,1);
  font-style: normal;
  font-weight: 700;
  margin: 20px 549px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 349px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 250px;
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-right: 129px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 225px;
  }
}.u-section-2 {
  background-image: linear-gradient(#011123, #18191b);
}

.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  letter-spacing: 2px;
  text-shadow: 0 0 8px rgba(128,128,128,1);
  font-style: normal;
  font-weight: 700;
  margin: 46px 853px 0 37px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 367px;
  height: auto;
  margin: 30px 603px 0 37px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  letter-spacing: 2px;
  text-shadow: 0 0 8px rgba(128,128,128,1);
  line-height: 1.2;
  font-style: italic;
  font-weight: 700;
  margin: -349px 7px 60px 601px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 690px;
    margin-left: 0;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 440px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: 440px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 470px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 220px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 220px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 290px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 40px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 90px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}.u-section-3 {
  background-image: url("images/pexels-photo-4011071.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 716px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  letter-spacing: 2px;
  text-shadow: 0 0 8px rgba(128,128,128,1);
  font-style: normal;
  font-weight: 700;
  margin: 21px 830px 0 42px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 367px 382px 0 248px;
}

.u-section-3 .u-text-3 {
  margin: 11px 527px 60px 248px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 672px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 246px;
    margin-right: 248px;
    margin-left: 182px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 393px;
    margin-bottom: 0;
    margin-left: 182px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 452px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 138px;
    margin-left: 72px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 283px;
    margin-left: 72px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    background-position: 43.01% 100%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 272px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 30px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 175px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 213px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 72px;
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
    margin-top: 260px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 47px;
  }
}