.u-section-1 {
  background-image: linear-gradient(#011123, #18191b);
}

.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  letter-spacing: 2px;
  text-shadow: 0 0 8px rgba(128,128,128,1);
  font-style: normal;
  font-weight: 700;
  margin: 46px 853px 0 37px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 367px;
  margin: 30px 603px 0 37px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  letter-spacing: 2px;
  text-shadow: 0 0 8px rgba(128,128,128,1);
  line-height: 1.2;
  font-style: italic;
  font-weight: 700;
  margin: -349px 7px 60px 601px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 690px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-right: 440px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 440px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 470px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 220px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 220px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 290px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 40px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 90px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}